@import "../../style/variable";

.product-card {
  width: 14rem;
  border-radius: 4px 4px 0 0;
  overflow: hidden;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  @include flexCol(center, center);
  .img-container {
    position: relative;
    width: 100%;
    height: 13rem;
    overflow: hidden;
    cursor: pointer;
    img {
      width: 100%;
    }

    .card-hover {
      position: absolute;
      background-color: rgb(213, 213, 213);
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 50%;
      @include flexRow(center, center);
      transition: all 1s ease-in;
    }
    .detail-btn {
      position: absolute;
      bottom: 0;
      right: 0;
      transform: translateY(100%);
      transition: transform 0.2s ease;
      button {
        border-radius: 0.2rem;
        color: $white;
        text-decoration: none;
        font-weight: 600;
        font-family: sengbuhan;
        background-color: $green;
        border: none;
        width: 6rem;
        height: 2.3rem;
        cursor: pointer;

      }
    }
    .card-hover {
      display: none;
    }
    &:hover {
      .card-hover-active {
        display: block;
      }
      .detail-btn {
        transform: translateY(0);
      }
    }
  }
  .content {
    width: 100%;
    font-family: $roboto;
    color: $card-text;

    .title-wrapper {
      padding: 0.5rem;
      border-bottom: 0.1px solid rgb(202, 202, 202);
      @include flexCol(center, flex-start);

      .link {
        text-decoration: none;
        color: $card-text;
        font-size: 0.8rem;
        &:hover{
          text-decoration: underline;
        }
      }
      h3 {
        width: 100%;
        font-size: 1.2em;
        font-weight: lighter;
        font-family: sengbuhan;
        line-height: 1.6rem;
        margin-right: 1rem;
      }
      .price-container {
        .stars-wrapper {
          margin: 0.8rem 0;
          font-size: 0.7rem;
        }
      }
      .sale{
        color: red;
        font-size: 0.8rem;
        text-decoration: line-through;
      }
      .price {
        font-size: 1.1rem;
        font-weight: 500;
        color: $green;
      }
    }

    .interact-btn {
      @include flexRow(space-between, center);
      #fas {
        position: relative;
        width: 100%;
        text-align: center;
        font-size: 1.5rem;
        padding: 0.8rem 0;
        cursor: pointer;
        transition: all 0.3s ease;
        span {
          position: absolute;
          font-size: 1rem;
          color: $green;
          right: 2.3rem;
          top: 0.2rem;
          i {
          }
        }

        &:hover {
          background-color: $green;
          color: $white;
          span {
            i {
              color: $white;
            }
          }
        }
      }
      .fa-heart {
        border-right: 0.1px solid rgb(202, 202, 202);
      }

      .fa-shopping-cart {
      }
    }
  }
}
