@import "../../style/variable";

.product-detail-container {
  height: 50em;
  letter-spacing: 0.1rem;
  .link {
    text-decoration: none;
  }
  padding: 65px 166px 145px 166px;
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 32rem;

    .col {
    }
    .img-col {
      @include flexRow(center, start);

      .mini-img-wrapper {
        @include flexCol(start, center);
        width: 6rem;
        height: 37.4rem;
        overflow: hidden;
        i {
          font-size: 1.5rem;
          cursor: pointer;
        }
        img {
          width: 100%;
          margin: 0.4rem 0;
          cursor: pointer;
        }
      }
      .main-img {
        box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
        margin-left: 1rem;
        height: 37rem;
        img {
          width: 28rem;
        }
      }
    }

    .product-content-col {
      font-family: sengbuhan;
      .pagination {
        color: #989898;
        font-size: 16px;
        span {
          margin-right: 0.5rem;
          text-decoration: underline;
        }
      }
      .name {
        color: #424d65;
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 0.1rem !important;
      }
      .rating-container {
        i {
          margin-right: 0.3rem;
          &:last-child {
            color: rgb(186, 186, 186);
          }
        }
      }
      .price {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        color: #222222;
      }
      .description {
        font-family: sengbuhan;
        font-weight: 300;
        font-size: 15px;
        color: #000000;
      }
      .size {
        .size-title {
          font-family: Roboto;
          font-weight: bold;
          font-size: 18px;
          color: #838383;
          margin-bottom: 1rem;
        }
        .size-wrapper {
          @include flexRow(start, center);
          p {
            margin-right: 0.7rem;
            width: 2.2rem;
            text-align: center;
            border: 2px solid $green;
            border-radius: 50%;
            padding: 0.3rem 0;
            font-family: Roboto;
            font-size: 18px;
            color: #838383;
          }
        }
      }
      .props {
        margin-bottom: 3rem;
      }
    }
  }
}

@media screen and(max-width: 1239px) {
  .product-detail-container {
    height: auto;
    .link {
    }
    padding: 3em;
    .grid-container {
      display: grid;
      grid-template-columns: 1fr 20rem;

      .col {
      }
      .img-col {
        .mini-img-wrapper {
          width: 3rem;
          height: 37.4rem;
          i {
            font-size: 1.5rem;
            cursor: pointer;
          }
          img {
            width: 100%;
            margin: 0.4rem 0;
          }
        }
        .main-img {
          margin-left: 0.4rem;
          margin-right: 2rem;
          height: 37rem;
          img {
            width: 22rem;
          }
        }
      }
    }
  }
}

@media screen and(max-width: 824px) {
  .product-detail-container {
    padding: 4rem 1rem;
    .link {
    }
    .grid-container {
      grid-template-columns: 23rem 12rem;
      justify-content: center;
      .product-content-col {
        .pagination {
          font-size: 12px;
          span {
            margin-right: 0.5rem;
          }
        }
        .name {
          font-size: 20px;
        }
        .rating-container {
          i {
            font-size: 0.8rem;
          }
        }
        .price {
          font-size: 16px;
        }
        .description {
          font-size: 13px;
          width: 12rem;
        }
        .size {
          .size-title {
            font-size: 14px;
          }
          .size-wrapper {
            @include flexRow(start, center);
            p {
              margin-right: 0.7rem;
              width: 1.7rem;
              font-size: 12px;
            }
          }
        }
        .props {
          margin-bottom: 1.5rem;
        }
      }
      .img-col {
        .mini-img-wrapper {
        }
        .main-img {
          img {
            width: 16rem;
          }
        }
      }
    }
  }
}

@media screen and(max-width: 580px) {
  .product-detail-container {
    .link {
    }
    .grid-container {
      @include flexCol(center,center);
      .product-content-col {
        .pagination {
          span {
          }
        }
        .name {
        }
        .rating-container {
          i {
          }
        }
        .price {
        }
        .description {
        }
        .size {
          .size-title {
            font-size: 14px;
          }
          .size-wrapper {
            @include flexRow(start, center);
            p {
              margin-right: 0.7rem;
              width: 1.7rem;
              font-size: 12px;
            }
          }
        }
        .props {
          margin-bottom: 1.5rem;
        }
      }
      .img-col {
        height: 25rem;
        .mini-img-wrapper {
        }
        .main-img {
          img {
            width: 16rem;
          }
        }
      }
    }
  }
}
@media screen and(max-width: 320px) {
  .product-detail-container {
    .link {
    }
    .grid-container {
      @include flexCol(center,center);
      .product-content-col {
        .size {
          .size-title {
            font-size: 14px;
          }
          .size-wrapper {
            @include flexRow(start, center);
            p {
              margin-right: 0.7rem;
              width: 1.7rem;
              font-size: 12px;
            }
          }
        }
        .props {
          margin-bottom: 1.5rem;
        }
      }
      .img-col {
        height: 25rem;
        .mini-img-wrapper {
        }
        .main-img {
          margin-right: 0;
          img {
            width: 11rem;
          }
        }
      }
    }
  }
}
