* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "saysetha_ot";
  src: url(./fonts/saysettha_ot.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "saysetthamai";
  src: url(./fonts/saysetthamai.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "sengbuhan";
  src: url(./fonts/sengbuhan.ttf) format("truetype");
  font-style: normal;
  font-weight:normal;
}
